* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_4 {
  width: 100%;
  height: 100%;
  background: rgba(2,3,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 100%;
  height: 77px;
  background: rgba(2,3,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(254,254,254,0.12999999523162842);
  overflow: hidden;
}
.v1_6 {
  width: 274px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 13px;
  left: 97px;
  font-family: DM Serif Display;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v1_15 {
  width: 27px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 21px;
  overflow: hidden;
}
.v1_16 {
  width: 27px;
  height: 4px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(2,3,0,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_17 {
  width: 27px;
  height: 4px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border: 1px solid rgba(2,3,0,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v1_18 {
  width: 27px;
  height: 4px;
  background: rgba(255,255,255,0.5);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  border: 1px solid rgba(2,3,0,1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
