@font-face {
    font-family: 'dm_serif_displayregular';
    src: url('dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dm_serif_displayitalic';
    src: url('dmserifdisplay-italic-webfont.woff2') format('woff2'),
         url('dmserifdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #020300;
  margin: 0;
  overflow-x: hidden;
}

.lick {
  position: absolute;
  top: 14%;
  left: 29%;
}

.burger {
  position: absolute;
  left: 20px;
  top: 40px;
  height: 30px;
  width: 40px;
}

.logo {
  font-family: "dm_serif_displayregular";
  color: #fefefe;
  font-size: 50px;
}

.logo_pos {
  position: absolute;
  left: 100px;
  top: -10px;
}

.line {
    position: absolute;
    top: 100px;
    margin-left: -8px;
    margin-right: -8px;
    border: 0;
    border-top: 1px solid #2e2e2e;
    width: 100%;
}


.sarah_header {
  font-family: "dm_serif_displayitalic";
  top: 150px;
  left: 100px;
  color: #fdca40;
  font-size: 80px;
  position: absolute;
}

.sarah_text {
  font-family: "dm_serif_displayregular";
  top: 320px;
  left: 100px;
  color: #fefefe;
  font-size: 50px;
  position: absolute;
}

.gif {
  position: absolute;
  top: 880px;
  left: 100px;
}

.it {
  position: absolute;
  height: 50%;
  top: 200px;
  left: 100px;
}
