@font-face {
    font-family: 'dm_serif_displayregular';
    src: url('dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dm_serif_displayitalic';
    src: url('dmserifdisplay-italic-webfont.woff2') format('woff2'),
         url('dmserifdisplay-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #020300;
  margin: 0;
  overflow-x: hidden;
}

.burger {
  position: absolute;
  left: 30px;
  top: 25px;
  height: 50px;
  width: 50px;
}

.logo {
  font-family: "dm_serif_displayregular";
  color: #fefefe;
  font-size: 50px;
}

.logo_pos {
  position: absolute;
  left: 100px;
  top: -10px;
}

.line {
    position: absolute;
    top: 100px;
    margin-left: -8px;
    margin-right: -8px;
    border: 0;
    border-top: 1px solid #2e2e2e;
    width: 100%;
}
